h1 {
  font-size: 36px;
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

h2 {
  font-size: 24 px;
  font-family: 'Gugi', cursive;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

h3 {
  font-size: 20 px;
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}


h4 {
  font-size: 16 px;
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}


h5 {
  font-size: 14 px;
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}


p {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

p.capstoneIntro {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

ul {

}

li {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

.jumbotron {
  background-image: url("https://i.imgur.com/b3KUITE.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:  overlay;
  color: white;
}
.intro {
  color: white;
}

.imageRow {
  margin-bottom: 48px;
}


.card-title {
  font-size: 16px;
}



.card-text {
  font-size: 14px;
}

.card {
  margin-bottom: 48px;
  width: 200px;
  height: 440px;
}

.card-img-top {
  height: 200px;
}

.card-block {
  height: auto;
}
