font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Abel', sans-serif;

body {
  color: black;
  background-position: top center;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 32px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}


h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

h2.splashMessage {
  font-size: 24px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

h4 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: rgba(0,0,0,.7);
}

li {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,.7);
}

p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,.7);
}

p.imageDescription {
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,.54);
  padding: 8px 0px 0px 8px;
  text-align: left;
}

p.imageComment {
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  font-weight: normal;
  color: white;
  padding: 40px 40px 40px 40px;
}

p.footerMenuItems {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: white;
}

li.footerMenuItems {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: white;
}

a.footerMenuItems {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: white;
}


a:link.footerMenuItems {
  color: white;
}

a:visited {

}

a:focus {

}

a:hover {

}

a:active {

}

hr {
  border-color: #CDDC39;
  border-width: thin;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
}

.container-fluid {
  max-width: 1200px;
}

.navbar {
  height: 80px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #f85032; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f85032 , #e73827); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f85032 , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow:0px 2px 2px rgba(0,0,0,0.5);
  border-bottom: none;
}

.navbar-header {
  display: flex;
}

.brandIcon {
  display: table-cell;
}

.brandLogo {
  display: flex;
  margin-left: 40px;
  margin-right: 8px;
}

.brandName {
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-weight: bolder;
}

.nav-item {
  display: flex;
  margin-left: 40px;
  padding-top: 18px;
  vertical-align: middle;
  color: white;
  font-size: 18px;
}

.nav-link {
  color: white;
}

.card-deck {
  background-color: white;
  padding-top: 80px;
}

.footer {
  height: auto;
  background-color: #607D8B;
}

.footerMenu {
  padding: 20px 80px 40px 80px;
  color: white;
}

.jumbotron {
  display: block;
  background-image: url("https://i.imgur.com/PDiz3cP.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  height: 600px;
  background-position: bottom;
  margin-top: 80px;
  text-align: center;
}

.splashMessage {
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    vertical-align: middle;
    padding: 200px 40px 20px 40px;
    color: white;
}

.splashQuote {
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    color: white;
}


.careerCenterIntroHome {
  margin-top: 20px;
  padding: 40px 40px 40px 40px;
}

.imageIntro {
  text-align: center;
}

.rnnrIntroHome {
  margin-top: 40px;
  padding: 40px 40px 40px 40px;
}

.graxIntroHome {
  margin-top: 40px;
  padding: 40px 40px 40px 40px;
}

.projectIntro {
  margin-top: 52px;
  margin-bottom: 40px;
  border-bottom: #CDDC39 1px solid;
  padding: 40px 40px 40px 40px;

}

.aboutMeIntro {
  width: 80%;
  margin-top: 72px;
  padding-left: 50;
  padding-right: auto;
  margin-bottom: 40px;
  padding: 40px 40px 40px 40px;
}

.projectPanel {
  padding: 20px 40px 40px 40px;
  margin-bottom: 40px;
  border-bottom: #CDDC39 1px solid;
}

.projectPanelNoBorder {
  padding: 20px 40px 40px 40px;
  margin-bottom: 40px;
}

.projectRow {
  padding: 0px 0px 0px 0px;
}
.descriptionIntro {
  padding: 40px 40px 40px 40px;
}

.leftPanel {
 padding: 0px 20px 40px 16px;
}

.rightPanel {
  padding: 0px 40px 40px 20px;
}

.portfolio {
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 40px;
  background: #F44336; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FF1744, #F44336); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FF1744, #F44336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ccProjectPanel {
  padding: 40px 40px 40px 40px;
}


.ccProjectImage {
  height: 700px;
  background-image: url("https://i.imgur.com/mgG8imD.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.projectImageRight {
  padding: 40px 40px 40px 20px;
}

.personaImage {
  padding-right: 8px;
  padding-top: 16px;
}

.curiousIntro {
  margin-top: 72px;
  padding-left: 40px;
  margin-bottom: 40px;
  padding: 40px 40px 40px 40px;
}

.curiousPanel {
  margin-bottom: 40px;
  padding: 40px 40px 40px 40px;
}

.resume {
  color: #212121;
  background-color: #CDDC39;
  padding-left: 72px;
  padding-right: 72px;
}

.card {
  display: block;
  padding: 32px;
  margin-bottom: 16px;
  height: 480px;
}


.card-img-top {
  display: block;
  padding-left: 28px;
  height: 200px;
}

.card-body {
  display: inline-table;
  height: auto;
}

.card-title {
  text-align: left;
}

.card-text {
  text-align: left;
  height: auto;
}

.imgBorder {
  border: 1px solid black;
}

.img-fluid {
  display: block;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.title:hover {
    box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}


.overlay {
  position: absolute;;
  top: 0px;
  left: 16px;
  height: 24px;
  width: 200px;
  color: white;
  background-color: rgba(255, 0, 0, 0.5); (0,0,0);
  padding-left: 10px;
}


.project-icons {
  width: auto;
  height: 100px;
}



.exp-icons-container {
  height: auto;
  padding-left: 4px;
  padding-right: 0px auto;
  vertical-align: middle;
  background-color: white;
  width: 80px;
  height: auto;
  border-radius: 8px;
}

.exp-icons {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  padding: 4px;
  margin: auto;
}


.fa-paper-plane {
  font-size: 24px;
  color: #F44336;
  margin-right: 8px;
  padding: 0px 0px 8px 24px;
}

.fa-paper-plane:hover {
  color: #AE1409;
}

.fa-file-text-o {
  font-size: 24px;
  color: #F44336;
  margin-right: 8px;
  padding: 8px 0px 8px 24px;
}

.fa-file-text-o:hover {
  color: #AE1409;
}

.fa-linkedin-square {
  font-size: 16px;
  color: white;
  padding: 0px 0px 0px 8px;
}

.subheader {
  padding-left: 40px
}

.tools-section {
  padding: 0px;
  align-content: flex-end;
}

.tools {
  padding: 0px;
  margin: 0px;
}

.iconHover {
  width: 120px;
  position: relative;
  top: 0px;
  left: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.iconHover .iconOverlay{
  width:auto;
  height:auto;
  position: relative;
  overflow:hidden;
  top: -30px;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  opacity:0;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out
  }

.iconHover img {
display:block;
position:relative;
margin-left: auto;
margin-right: auto;
}

.ResumeIcons {
  height: 32px;
  margin-bottom: 40px;
}

.iconHover .ResumeIcons {
display:block;
position:relative;
margin-left: auto;
margin-right: auto;
}

.iconHover p {
text-transform:uppercase;
color: rgba(0,0,0);
text-align:center;
position:relative;
font-size:16px;
background:none;
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-10px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:0px;
margin-left: auto;
margin-right: auto;
}

.iconHover a.info {
display:inline-block;
text-transform:uppercase;
color:#fff;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:40px 0 0;
padding:8px 16px;
}

.iconHover:hover .iconOverlay {
opacity:1;
filter:alpha(opacity=100);
}

.iconHover:hover p,.iconHover:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.icon-bg-circle {
  background-color: white;
}

.icon-bg-circle:hover {
  background-color: white;
}

.design-phase {
  background-color: white;
  height: 440px;
}

.Competitive-Analysis-Table {
  padding-left: 32px;
  margin: 8px;
  color: black;
}

table {
  padding-left: 100px;
}

.Competitive-Analysis-Row {
  font-weight: bold;
  width:32px;
}

.Competitive-Analysis-Logo {
  height: 20px;
  width: auto;
}

.table-hover{

}

th {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: grey;
  width: 280px;
  align-content: center;
}

tr {
  padding-left: 16px;
  padding-bottom: 8px;
  text-align: left;
  vertical-align: text-top;
}

td .Competitive-Analysis-Col {
  width: auto;
}

td {
  font-size: 12px;
  padding: 16px;
  padding-bottom: 8px;
  width: 280px;
}

li {
  padding-left: 0px;
}


.about-me-header {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 24px;
}

.about-me-description {
  padding-left: 0px;
  margin-left: 16px;
}

#page-title {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 36px;
  color: white;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}

#my-title {
  font-family: Montserrat;
  font-style: normal;
  text-transform: uppercase;
  font-size: 24px;
  color: rgba(255,255,255,0.54);
  margin-bottom: 40px;
  padding: 0px;
}

#modalContact {
  position: fixed;
  top: 5%;
  margin: 0 auto;
  width: 500px;
  height: auto;
}

#modal .modal-header {
  height: 48px;
  padding-left: 0px;
}

#modalContactHeader {
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
}

#modalContact .modal-content {
  height: 300px;
}

#modalContact .modal-body {
  height: 340px;
  font-family: Poppins;
  font-size: 16px;
  padding: 0px;
  background-color: #B0BEC5;
}

.form-group {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#message-text {
  height: 120px;
}


#resume {
  float: left;
}

.skills {
  margin-top: 0px;
  padding-left: 40px;
}
